* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: #8e806a; */
  background: radial-gradient(#ffe6bc, #8e806a);
}
.select {
  padding: 0 5px;
  width: 200px;
  height: 25px;
}
.hedder {
  /* background: #c3b091; */
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#searchInput {
  width: 300px;
  height: 40px;
  border-radius: 10px;
}
option {
  padding-bottom: 5px;
}
select:hover {
  background: #ffe6bc;
}
h1 {
  font-family: "Redressed";
  text-align: center;
  margin: 20px 0;
  font-size: 50px;
}
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
}
h6:hover {
  font-size: 21px;
  color: #ffe6bc;
  transition: 0.5s;
  text-shadow: 5px 10px 5px #000;
  cursor: none;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.secTD {
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  justify-content: center;
}
.episodes {
  /* width: 100%; */
  /* padding: 0 5px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.episodes i {
  text-align: center;
  padding: 10px;
}
.fa-solid:hover {
  color: #8e806a;
  transition: 500ms;
}
.fa-solid {
  padding-left: 15px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
img {
  width: 300px;
  height: 200px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  margin: 0 auto;
}
img:hover {
  transform: scale(1.01);
}

a:visited,
a:active,
a {
  color: #000;
}
